<div class= "container" id="home-container">
<div class="jumbotron text-center text-white" >
  <h1 class="display-4">Hello & Welcome</h1>
  <p class="lead">The Adventure Is Waiting For You To Sign Up</p>
  <hr class="my-4">
  <p>What Are You Waiting For?</p>
  <p class="lead">
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </p>
</div>

</div>


