<%= render 'layouts/navigation' %>
<div class= "container" id="home-container">
<div class="jumbotron text-center text-white" >
  <h1 class="display-4">Hello & Welcome</h1>
  <p class="lead">The Adventure Is Waiting For You To Sign Up</p>
  <hr class="my-4">
  <p>What Are You Waiting For?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
  </p>
</div>

</div>

<%= link_to 'Go to posts ',posts_path%> |
<%= link_to 'Go to about ',about_path%> 