
<h1 class= "text-center mt-4">Post Feed</h1>
<% @posts.each do |post| %>
    <div class ="row justify-content-md-center" >
    <div class ="col-8 mt-4">
<div class="container">
<div class="card text-center shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%=post.title %></h5>
    <p class="card-text"><%=post.description %></p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
    <a href="#" class="card-link">Another one link</a>
  </div>
</div>
    </div>
    </div>
</div>
</div>
<div class ="row">
<% end%>

